   
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


body {


    color: white;
    
    opacity: 5;
    font-family: 'roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    background-color: color-mix(in srgb, rgb(185, 185, 185) 30%, rgb(212, 212, 212) 50%);

    
    

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;

}
a {
    color: white;
    text-decoration: none;

}
img{
    width: 200px;
    height: 200px;
    border: 5px rgb(60, 63, 255);
    border-radius: 50%;
    
}

.center {
    display:list-item;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0%;
    padding:0 2%;
   
   
    
    
}

.centerclass {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0%;
    padding:0 2%;
    
}
header{
    height: 200px;
    padding: 20px 0;

}

.logo {
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}
section.sobre{
   height: calc(100% - 200px);
    position: relative;

}

.novas{
    position:absolute;
    bottom: -150px;
    right: -150px; 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    color: black; 
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
    
}

.texto-sobre{
    margin-top: 100px;
}
.texto-sobre h1{
    font-size: 50px;
}
.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.texto-sobre button{
    border: 0;
    background-color: color-mix(in srgb, rgb(0, 0, 0) 50%, rgb(94, 198, 250) 90%); 
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.imgp{
    
}